*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
}
#wrapper {
  width: 80%;
  margin: 0 auto 0 20px;
}

n{
  font-size: 30px;
}

h1{
  color: blue;
  font-size: 25px;
}

h2{
  color: blue;
  font-size: 25px;
}

h3{
  color: blue;
  font-size: 25px;
}